form{
    border: solid 1px black;
    text-align: center;
    color:#788faf;
    height: 600px;
    width: 650px;
    margin: auto;
}
h2{
    text-align: left;
    
}
p{
    padding: 10px;
}
input{
    margin: 15px;
    width: 450px;
    height: 20px;
    border: none;
    border-bottom: solid 2px gray;
}
textarea{
    width: 500px;
    height: 50px;
    border: none;
    border-bottom: solid 2px gray;}