body{
    background-color: cadetblue;
}
table{
    height: 300px;
    width: 70%;
    margin: auto;
    background-color: white;
}
td{
    border: solid 2px red;

}
.one{
    height: 60%;
}
p{
    margin-left: 10px;
}
img{
    margin: 5px;
    height: 96%;
    width: 96%;
}
