body{
    background-color: #9cbc2c;
    font-size: 120%;
}
form{
    width: 60%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
}
header{
    background-color: #b9cf6a;
    height: 30%;
    border: solid 2px #d6e3a8;
    border-radius: 10px;
    
}
p{
    margin-left:20px;
}
header input{
    margin-left:100px;
}
header label{
    font-size: 80%;
}
table{
    height: 70%;
    width: 100%;

}
td{
    background-color: #b9cf6a;
    border: solid 2px #d6e3a8;
    margin: 5px;
    border-radius: 10px;
    padding-left: 20px;
    
}

td input{
    margin-left: 40px;
    width: 60%;
    height: 40%;
}
img{
    width: 40px;
    height: 20px;
    border-radius: 5px;
}
